/*
 * Contact cards styles
 *
 * @author Rogier van der Linde <rogier@bitmatters.be>
 */

/* ===========================================
    General
    =========================================== */

/* elements */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5e9ed;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size:14px;
}

a {
    text-decoration: none;
    color: #428bca;
    outline: none;
}

a:hover {
    color: #2a6496;
}

/* classes */

.structural {
    left: -9999px;
    position: absolute;
}

.hidden {
    display: none;
}

/* layout */

.page__wrapper {
    margin: 0 auto;
    max-width: 640px;
    padding: 0 20px;
}

.page__main {
    margin: 0 auto;
    overflow: hidden;
    padding-top: 30px;
}

/* ===========================================
    Header
    =========================================== */

/* general */

.page__header {
    padding: 20px;
}

/* color picker */

#inpHeaderColor {
    float: left;
}

/* title */

.page__title {
    color: #506A85;
    font-size: 44px;
    font-weight: 300;
    text-align: center;
}

.page__title small {
    color: #999;
    display: block;
    font-size: 17px;
    margin: 0;
    margin-top: 20px;
    text-transform: uppercase;
}


/* ===========================================
    Content
    =========================================== */

/* layout */

.card-container {
    box-sizing: border-box;
    height: 420px;
    padding: 0 30px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    color: #444;
    text-align: center;
}

.card__content {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 20px;
}

.card__footer {
    bottom: 0;
    border-top: 1px solid #eee;
    color: #999;
    height: 38px;
    left: 15px;
    position: absolute;
    right: 15px;
}

.front, .back {
    border-radius: 5px;
    height: 420px;
    overflow: hidden;
    width: 100%;
}

.front {
    z-index: 2;
}

/* front header */

.front__header {
    position: relative;
}

/* front visual */

.front__visual-container {
    height: 105px;
    overflow: hidden;
}

.front__visual {
    width: 100%;
}

/* front picture */

.front__picture-container {
    display: block;
    height: 120px;
    margin: -55px auto 0;
    overflow: hidden;
    position: relative;
    width: 120px;
}

.front__picture {
    background: none repeat scroll 0 0 #fff;
    border: 4px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    vertical-align: middle;
    width: 100%;
}

/* front message */

.front__message {
    bottom: 20px;
    color: #999;
    display: block;
    left: 0;
    display: none;
    position: absolute;
    width: 70px;
}

/* front content */

.front__profession {
    color: #999;
    margin-bottom: 20px;
    text-align: center;
}

.front__title {
    font-size: 22px;
    font-weight: 300;
    margin: 10px 0;
    text-align: center;
}

.front__quote {
    color: #6c6c6c;
    line-height: 1.2;
    margin: 0 15px;
    position: relative;
}

.front__quote::before {
    content: "“";
    left: -15px;
    top: -10px;
}

.front__quote::after {
    bottom: -30px;
    content: "”";
    right: -15px;
}

.front__quote::before,
.front__quote::after {
    color: #999;
    font-size: 40px;
    position: absolute;
}

.quote__next {
    display: block;
    text-align: right;
    font-size: smaller;
    line-height: 20px;
}

/* back header */

.back__header {
    padding: 15px 20px 0 20px;
}

.back__motto {
    border-bottom: 1px solid #eee;
    color: #999;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
}

/* back content */

.back__title {
    margin-bottom: 10px;    
    margin-top: 20px;    
}

.back__contactinfo a {
    display: block;
    line-height: 25px;
}

/* bottom menu */

.card__flip, .card__flipback {
    background-color: transparent;
    color: #666666;
    line-height: 38px;
    opacity: .8;
    position: absolute;
    right: 0;
    top: 0;
}

.card__bottommenu {
    list-style: none;
    text-align: left;
}

.card__bottommenu li {
    display: inline-block;
    text-align: center;
}

.card__bottommenu li a {
    display: inline-block;
    font-size: 18px;
    line-height: 38px;
    width: 30px;
}

.card__bottommenu li + li a {
    line-height: 34px;
}

/* ===========================================
    Rotation
    =========================================== */

/* entire container, keeps perspective */
.card-container {
    margin-bottom: 30px;
    perspective: 800px;
}

/* flip pane */
.card-container.flip .card {
    transform: rotateY(180deg);
}

/* flip transition */
.card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    background-color: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
    left: 0;
    position: absolute;
    top: 0;
}

.back {
    transform: rotateY(180deg);
    z-index: 3;
}


/* ===========================================
    Contact Modal
    =========================================== */

/* The Modal (background) */
.modal {
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    height: 100%; /* Full height */
    left: 0;
    overflow: auto; /* Enable scroll if needed */
    position: fixed; /* Stay in place */
    top: 0;
    width: 100%; /* Full width */
    z-index: 1; /* Sit on top */
}

.modal.hide {
    display: none; /* Hidden by default */
}

.modal__header {
    align-items: center;
    background-color: #ddd;  
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; 
    padding: 10px 20px;
}

.modal__header h2 {
    color: #444;
    font-size:14px;
    font-weight: normal;
    text-transform: uppercase;
}

.modal__form {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
}

.modal__label, .modal__input {
    color: #444;
    display: block;
} 

.modal__input, .modal__send {
    border: 1px solid #ccc;
    padding: 5px 8px;
} 

.modal__form label {
    margin-bottom: 5px;
} 

.modal__input {
    width: 100%;
} 

.modal__message {
    color: #900;
    display: block;
    font-size: smaller;
    font-style: italic;
    margin: 5px 0 10px 0;
    text-align: right;
}

.modal__send {
    align-self: flex-end;
}

.modal__footer {
    background-color: #eee; 
    color: #666;  
    font-size: smaller;
    padding: 10px 20px;
}

.modal__charsleft {
    color: #000;
}

/* Modal Content/Box */
.modal__content {
    background-color: #fefefe;
    border: 1px solid #888;
    margin: 15% auto; /* 15% from the top and centered */
    max-width: 500px;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modal__close {
    color: #aaa;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

.modal__close:hover,
.modal__close:focus {
    color: black;
}


/* ===========================================
    Footer
    =========================================== */

.page__footer {
    background-color: #fff;
    min-height: 200px;
    padding: 60px 60px 20px;
    text-align: center;
}

#inpBodyColor {
    border: none;
}


/* ===========================================
    Media queries
    =========================================== */


@media (min-width: 40em) { /* 640px */
    .page__wrapper {
        max-width: 640px;
    }
    .card-container {
        width: 50%;
    }
}

@media (min-width: 50em) { /* 800px */
}

@media (min-width: 60em) { /* 960px */
    .page__wrapper {
        max-width: 960px;
    }
}


